<div class="container" id="cont-place">
  <div class="head">
    <button type="button" data-bs-toggle="modal" data-bs-target="#avatar">
      <%= cl_image_tag current_user.photo.key, crop: :fill, gravity: :face, class: 'avatar', id: 'img-place' %>
    </button>
    <div class="right"><h2><%= @user.nickname.capitalize %></h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#name">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </div>
  </div>
  <div class="bio">
    <strong>My bio:</strong>
    <p><%= @user.bio.truncate(50) %></p>
    <button type="button" data-bs-toggle="modal" data-bs-target="#bio">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>
  <div class="container" id="event-head">
    <h2>My events</h2>
    <hr>
  </div>
</div>
  <%= render 'shared/card_product' %>

<div class="modal fade" id="bio" tabindex="-1" aria-labelledby="bioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <h2>Edit </h2>
        <%= simple_form_for(profile_path, data: {turbo_method: 'post'}) do |f| %>
          <div class="form-inputs">
            <%= f.input :bio,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Your bio",
                        input_html: { autocomplete: "bio" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="avatar" tabindex="-1" aria-labelledby="avatarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <h2>Edit </h2>
        <%= simple_form_for(profile_path, data: {turbo_method: 'post'}) do |f| %>
          <div class="form-inputs">
            <%= f.input :photo,
                        as: :file,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Your bio",
                        input_html: { autocomplete: "bio" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Update", data: { turbo_method: "post" }, class: 'btn btn-primary' %>
          </div>
        <% end %>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="name" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <h2>Edit </h2>
        <%= simple_form_for(profile_path, data: {turbo_method: 'post'}) do |f| %>
          <div class="form-inputs">
            <%= f.input :nickname,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Your nickname",
                        input_html: { autocomplete: "nickname" } %>
          <div class="form-actions">
            <%= f.button :submit, "Update", data: { turbo_method: "post" }, class: 'btn btn-primary' %>
          </div>
        <% end %>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
