
<main id="home-card">
<h2>Discover the meals near you</h2>
  <% @events.each do |e| %>
    <%= link_to event_path(e) do %>
      <div class="container-fluid my-4" id='event-home'>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div class="col">
            <div class="card-sl ">
              <li>
                <%# <img src="https://source.unsplash.com/random?food" alt=""> %>
                  <%= cl_image_tag e.user.photo.key,
                                                    height: 220,
                                                    width: 150,
                                                    class: "card-img-top",
                                                    style: "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))" %>
                  <div class="card-heading">
                      <%= e.title %>
                  </div>
                  <div class="card-text">
                      <%= e.description %>
                  </div>
                  <div class="card-slot">
                      Slots : <%= e.calcul_capacity_book %>/<%= e.capacity %>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
