<div class="product">
  <ul>
    <% @event.each do |e| %>
      <%= link_to event_path(e) do %>
        <li>
          <div class="card-product">
            <% if e.photos.attached? %>
              <%= cl_image_tag e.user.photo.key,
                                                height: 170,
                                                width: 150,
                                                class: "card-img-top",
                                                style: "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))" %>
            <% else %>
              <img src="https://source.unsplash.com/random?profile?food" style="height: 170, width: 150" class="card-img-top"/>
            <% end %>
          </div>
          <div class="card-product-infos">
            <h2><%= e.title %></h2>
            <%= link_to 'X', event_path(e), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, id: 'Oo'%>
            <% e.bookings.each do |b| %>
              <% if b.confirmation.nil? %>
                <%= b.confirmation %>
                <div class="slot">
                  <p>Guest: <%= b.nb_guest %></p>
                  <div class="btn-card">
                    <%= link_to "Decline", booking_path(b), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-secondary' %>
                    <%= link_to "Accept", event_booking_path(e, b), data: { turbo_method: "patch" }, class: 'btn btn-primary' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
