<div class="fixed-bottom" id="nav-d-none">
  <ul class="navbar-fab">
    <% if user_signed_in? %>
      <li>
        <%= link_to root_path do %>
          <%= image_tag 'home.png', width: 60, height: 60 %>
        <% end %>
      </li>

      <li >
        <%= link_to dashboard_path do %>
          <%= image_tag 'dashboard.png', width: 60, height: 60 %>
        <% end %>
      </li>

      <li>
        <%= link_to network_path(current_user.networks.first) do %>
          <%= image_tag 'commu.png', width: 60, height: 60 %>
        <% end %>
      </li>

      <li >
        <%= link_to profile_path do %>
          <%= image_tag 'profile.png', width: 60, height: 60 %>
        <% end %>
      </li>

      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path do %>
          <%= image_tag 'profile.png', width: 60, height: 60 %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
