<div class="fixed-bottom" id="nav-d-none">
  <ul class="navbar-fab">
    <% if user_signed_in? %>
      <li>
        <%= link_to root_path do %>
          <%= image_tag 'home.png', width: 40, height: 40 %>
        <% end %>
      </li>

      <li >
        <%= link_to chatroom_path(Chatroom.first) do %>
          <%= image_tag 'dashboard.png', width: 40, height: 40 %>
        <% end %>
      </li>

      <li>
        <%= link_to network_path(current_user.networks.first) do %>
          <%= image_tag 'commu.png', width: 40, height: 40 %>
        <% end %>
      </li>

      <li >
        <%= link_to profile_path do %>
          <%= image_tag 'profile.png', width: 40, height: 40 %>
        <% end %>
      </li>

      </li>
    <% else %>
      <li>
        <%= link_to root_path do %>
          <%= image_tag 'home.png', width: 40, height: 40 %>
        <% end %>
      </li>

      <li >
        <%= link_to user_session_path do %>
          <%= image_tag 'dashboard.png', width: 40, height: 40, class: 'disabled' %>
        <% end %>
      </li>

      <li>
        <%= link_to user_session_path do %>
          <%= image_tag 'commu.png', width: 40, height: 40, class: 'disabled' %>
        <% end %>
      </li>
      <li>
        <%= link_to user_session_path do %>
          <%= image_tag 'on.png', width: 40, height: 40 %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
