<%= render 'shared/banner_map' %>
<div class="container-fluid my-4">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col" id="col-top-map">
        <h2 class="text-center my-3"><%= @event.title.capitalize %></h2>
        <p><%= @event.description %></p>
        <p><%= @event.date.strftime("%m/%d/%Y at %I:%M%p") %></p>
        <p><strong>Slots</strong> : <%= @event.calcul_capacity_book %>/<%= @event.capacity %></p>
        <% if @event.calcul_capacity_book > 0 %>
          <%= simple_form_for [@event, @booking] do |f| %>
            <%= f.input :nb_guest,
                          required: true,
                          autofocus: false,
                          label: 'For how many people?',
                          input_html: { autocomplete: "Guest", min: 0, max: @event.capacity } %>
            <%= f.button :submit, "Reserved", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
