<div class="container">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <h2 class="text-center my-3"><%= @event.title %></h2>
  <%= @event.description %>
  <br>
  <%= @event.experience %>
  <br>
  <%= @event.address %>
  <br>
  <br>
  <%= @event.date.strftime("%m/%d/%Y at %I:%M%p") %>
  <br>
  <%= @event.language %>
  <br>
  <%= @event.calcul_capacity_book %>
  <br>

  <% if @event.calcul_capacity_book > 0 %>
    <%= simple_form_for [@event, @booking] do |f| %>
      <%= f.input :nb_guest,
                    required: true,
                    autofocus: false,
                    label: 'For how many people?',
                    input_html: { autocomplete: "Guest", min: 0, max: @event.capacity } %>
      <%= f.button :submit, "Reserved", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
